
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


* {
 text-align: center;
 font-family: 'Zen Dots', cursive;
 padding: 0;
 margin: 0;
}

body{
  width: 100%;
  background: lightslategray;
}

h1, h2, #vero {
  padding: 30px;
}
h3{
  padding: 20px;
}

#scelte {
  background: lightyellow;
  width: 30%;
  height: 300px;
  margin: 0 auto;
  vertical-align: middle;
  border-radius: 20px;
}

/* Scelte */
h3{
  font-size: 50px;
}

a{
 text-decoration: none;
 color: black;
}

/* Risultato */
 #vero{
  font-size: 200px;
  animation-name: example;
  animation-duration: 10s;
  text-align: center;
}

@keyframes example {
  from {color:#ff0000;}
  to {color: #e40000;}
  to {color: #ca0000;}
  to {color: #ab0000;}
  to {color: #7d0000;}
  to {color: #5a0000;}
  to {color: #460000;}
  to {color: #320000;}
  to {color: #1c0000;}
}

/* Pulsante conferma */
#pulsante, #return{ 
  border: none;
  font-size: 30px;
  padding: 20px;
  border-radius: 50px;
  background: black;
  color: white;
  margin-top: 50px;
}


#return{ /*nasconde il pulsante return alla rpima pagina */
  display: none;
}



/* mediaquery */

@media (max-width: 992px) {
  #scelte  {
    width: 100%;
    
  }

  h1, h2, #vero{
    padding: 20px;  
  }
  
  #vero {
    font-size: 40px;
    margin-top: 70px;
  }

  #pulsante {
    margin-top: 30px;
  }

  #return {
    margin-top: 100px;
  }

}